<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="backgroundField"
             type="Config.DefaultField, ConfigurationSample"
             restartOnExternalChanges="false"/>
    <section name="numberField"
             type="Config.StringField, ConfigurationSample"
             restartOnExternalChanges="false"/>
    <section name="trialField"
             type="Config.StringField, ConfigurationSample"
             restartOnExternalChanges="false"/>
    <section name="recordField"
             type="Config.StringField, ConfigurationSample"
             restartOnExternalChanges="false"/>
    <section name="resultField"
             type="Config.ImageField, ConfigurationSample"
             restartOnExternalChanges="false"/>
  </configSections>

  <backgroundField>
    <position x="0" y="0" />
    <size width="128" height="64" />
    <backColor alpha="255" red="0" green="0" blue="0" />
  </backgroundField>

  <numberField>
    <position x="0" y="0" />
    <size width="16" height="32" />
    <backColor alpha="255" red="255" green="0" blue="0" />
    <stringFont familyName="メイリオ" emSize="10" />
    <stringColor alpha="255" red="128" green="128" blue="128" />
  </numberField>

  <trialField>
    <position x="16" y="0" />
    <size width="112" height="32" />
    <backColor alpha="255" red="0" green="255" blue="0" />
    <stringFont familyName="メイリオ" emSize="10" />
    <stringColor alpha="255" red="0" green="0" blue="0" />
  </trialField>

  <recordField>
    <position x="32" y="32" />
    <size width="96" height="32" />
    <backColor alpha="255" red="0" green="0" blue="255" />
    <stringFont familyName="メイリオ" emSize="10" />
    <stringColor alpha="255" red="255" green="255" blue="255" />
  </recordField>

  <resultField>
    <position x="0" y="32" />
    <size width="32" height="32" />
    <backColor alpha="255" red="128" green="128" blue="128" />
    <image path="c:\image.bmp" />
  </resultField>
</configuration>